body {
    overflow-x: hidden;
  }
  
  .main-image {
    margin-left: -170px;
    background: url(https://www.incimages.com/uploaded_files/image/1024x576/getty_883231284_200013331818843182490_335833.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    width: 100vw;
    height: 80vh;
    position: relative;
    background-attachment: fixed;
  }
  
  .filter:after {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .card-title-lib {
    background-color:"#fd9";
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }