.container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    margin-top: -250px;
  }
  
  .grid {
    height: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "dis dis dis dis"
      "AC C div times"
      "seven eight nine minus"
      "four five six plus"
      "one two three equal"
      "zero zero dot equal";
  }
  
  .padButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
  }
  
  .padButton:hover {
    border: 1px solid white;
    color: #ccc;
  }
  
  .display {
    grid-area: display;
    background-color: black;
    text-align: right;
  }
  .expression {
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 10px;
    text-align: right;
    width: 98%;
    background-color: black;
  }
  .answer {
    color: #0076fc;
    font-size: 20px;
    border: none;
    margin: 0;
    margin-right: 10px;
    text-align: right;
    width: 98%;
    background-color: black;
  }
  .equal {
    grid-area: equal;
    background-color: #5599ff;
  }
  .zero {
    grid-area: zero;
  }
  
  .dark-grey {
    background-color: #333;
  }
  .red {
    background-color: tomato;
  }
  .tomato{
    background-color: tomato;
  }
  .blue{
    background-color: #5599ff;
  }
  .dis{
    grid-area: dis;
    background-color: black;
    text-align: right;
    font-size: 40px;
  }
  .dis input{
    color: white;
    padding: 50px 20px;
    text-align: right;
    background-color: black;
  }
  .total{
    padding: 5px 20px;
    color: yellow;
  }
  input::placeholder{
    color: white;
    font-size: 30px;
  }.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

